##############################
# IntelliJ / JetBrains
##############################
.idea/
*.iml
out/

##############################
# Java / JVM
##############################
*.class
*.log

##############################
# Gradle
##############################
.gradle/
build/
# Permitir los archivos del wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

##############################
# Terraform
##############################
terraform/.terraform/
terraform/*.tfstate
terraform/.tfstate.*
terraform/*.backup
terraform/*.tfvars
terraform/terraform.lock.hcl

##############################
# Sistema Operativo
##############################
.DS_Store
Thumbs.db

##############################
# Otros temporales
##############################
*.tmp
*.swp