##############################
# IntelliJ / JetBrains
##############################
.idea/
*.iml
out/

##############################
# Java / JVM
##############################
*.class
*.log

##############################
# Terraform
##############################
terraform/.terraform/
terraform/*.tfstate
terraform/.tfstate.
terraform/*.backup

##############################
# Sistema Operativo
##############################
.DS_Store
Thumbs.db

##############################
# Otros temporales
##############################
*.tmp
*.swp